.Header {
    z-index         : 10;
    position        : sticky;
    top             : 0;
    padding-top     : 0 !important;
    padding-bottom  : 0 !important;
    padding-left    : 0 !important;
    text-transform  : uppercase;
    background-color: #2B2B3B;
}

.Header-brand {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.Header-logo {
    width : auto;
    height: 40px;
    cursor: pointer;
}

.Header-collapse {
    padding: 0 37px;
}

.Header-dropdown {
    padding-top     : 0;
    padding-bottom  : 0;
    background-color: #21212e;
}

.Header-loginBtn {
    padding-left    : 15px !important;
    padding-right   : 15px !important;
    color           : white !important;
    font-weight     : 400;
    background-color: #ffa000;
    border-radius   : 10px;
    cursor          : pointer;
}

.A {
    width           : 100%;
    height          : 100%;
    margin          : 0 !important;
    color           : white;
    background-color: transparent !important;
    white-space     : nowrap;
    text-align      : left;
}

.A:hover {
    background-color: #39394e !important;
    color           : white;
}
