.Index {
    min-height     : 100vh;
    background-size: cover;
}

.paper-text {
    font-size: 25px;
}

.Index-top {
    padding-top        : 53rem;
    background-image   : url('../../public/Landing_top.png');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: bottom;
}

.Index-top--content {
    margin-top: -29rem;
}

.Index-top--content img {
    width  : 13rem;
    height : auto;
    padding: 15px;
    border : 5px solid rgb(206, 206, 206);
}

.Index-body {
    padding   : 10px 50px;
    text-align: center;
}

.Index-body--card-content {
    padding: 15%;
}

.Index-body--card-1 {
    position    : relative;
    margin-top  : 6rem;
    padding-left: 40%;
}

.Index-body--card-2 {
    position  : relative;
    margin-top: 8rem;
}

.Index-body--card-2 .Index-body--card-content {
    padding: 5% 7%;
}

.Index-body--card-4 {
    position     : relative;
    margin-top   : 8rem;
}

.blob-2 {
    position: absolute;
    left    : 0;
    top     : -5rem;
    width   : auto;
    height  : 120%;
}

.Index--round-number {
    padding         : 20px 27px;
    font-size       : larger;
    color           : white;
    font-weight     : bolder;
    background-color: #E79247;
    border-radius   : 50%;
}

.Index-bottom {
    position     : relative;
    overflow     : hidden;
    margin-top   : 5rem;
    margin-left  : -5px;
    margin-bottom: -5px;
    text-align   : center;
}

.Index-bottom--text {
    position : absolute;
    left     : 5rem;
    top      : 20rem;
    width    : 35%;
    font-size: x-large;
    color    : white;
}