.Index {
    min-height     : 100vh;
    background-size: cover;
}

.Index-top {
    margin-top         : -2rem;
    padding            : 0;
    padding-top        : 70rem;
    background-image   : url('../../public/Landing_top.png');
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: top;
}

.Index-top--content {
    margin-top: -43rem;
}

.Index-top--content img {
    width     : 13rem;
    height    : auto;
    margin-top: 5rem;
    padding   : 15px;
    border    : 5px solid rgb(206, 206, 206);
}

.Index-body {
    padding   : 10px 50px;
    text-align: center;
}

.Index-body--card-content {
    padding: 15%;
    margin : 9% 0;
}

.Index-body--card-1 {
    position    : relative;
    margin-top  : 6rem;
    padding-left: 40%;
}

.Index-body--card-2 {
    position     : relative;
    margin-top   : 8rem;
    padding-right: 40%;
    padding-left : 15%;
}

.Index-body--card-3 {
    position    : relative;
    padding     : 9% 0;
    margin-top  : 8rem;
    padding-left: 50%;
}

.Index-body--card-4 {
    position     : relative;
    margin-top   : 8rem;
    padding-right: 40%;
}

.blob-2 {
    position: absolute;
    left    : 0;
    top     : -5rem;
    width   : 41%;
    height  : auto;
}

.blob-3 {
    z-index : 3;
    position: absolute;
    right   : 0;
    top     : 0;
    width   : 41%;
    height  : auto;
}

.blob-1 {
    z-index : 3;
    position: absolute;
    left    : 0;
    top     : -7rem;
    width   : 40%;
    height  : auto;
}

.blob-4 {
    position: absolute;
    right   : 1rem;
    top     : 1rem;
    width   : 40%;
    height  : auto;
}

.step-1 {
    z-index : 2;
    position: absolute;
    left    : 5rem;
    bottom  : 0;
    width   : 35%;
    height  : auto;
}

.step-2 {
    z-index : 2;
    position: absolute;
    top     : 0;
    right   : 5rem;
    width   : 60%;
    height  : auto;
}

.text-1 {
    z-index : 4;
    position: absolute;
    top     : 6rem;
    right   : 16rem;
    width   : 40%;
}

.text-2 {
    z-index : 4;
    position: absolute;
    bottom  : 5rem;
    right   : 8rem;
    width   : 40%;
}

.text-1,
.text-2 {
    display: block;
}

.Index-bottom {
    position   : relative;
    overflow   : hidden;
    margin-top : 5rem;
    margin-left: -5px;
    text-align : center;
}

.Index-bottom--text {
    position : absolute;
    left     : 5rem;
    top      : 28rem;
    width    : 35%;
    font-size: x-large;
    color    : white;
}
