.Job-content {
    margin: 5rem;
}

.Job-promo {
    display            : flex;
    align-items        : center;
    justify-content    : center;
    height             : 100vh;
    width              : 100%;
    background-image   : url("../../public/Job_top.png");
    background-repeat  : no-repeat;
    background-size    : cover;
    background-position: bottom;
}

.Job-promo--content {
    padding         : 4rem 3rem;
    text-align      : center;
    color           : rgb(59, 59, 59);
    background-color: #797f887c;
}

.Job-promo--content h2 {
    margin-top: 0;
    font-size : 2.5rem;
}

.Job-body--content {
    padding: 2rem 5rem;
}

.Job-text {
    font-size: larger;
}