.Footer {
    position   : relative;
    display    : flex;
    align-items: center;
    height     : 100px;
    font-family: 'Roboto';
    color      : rgb(131, 131, 131);
}

.Footer img {
    width        : 50px;
    height       : auto;
    border-radius: 50%;
}

@media (max-width: 992px) {
    .Footer {
        padding: 10px 0;
    }

    .Footer img {
        margin-top   : 5px;
        margin-bottom: 5px;
    }
}